body {
    background-color: #151515;
    box-sizing: border-box;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media(max-width:80px){
    .left-block, .right-block{
        flex:100%;
    }
  }
/* LEFT-BLOCK */
.left-block{
    text-align: left;
    flex:50%;
}
.right-block {
    scrollbar-width: none; /* For Firefox */
    flex: 50%;
  }
  .name{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 1.9px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 16px;
  }
  .about {
    justify-content: left;
    padding-right: 150px;
  
    margin: 32px 0px 0px;
    line-height: 30px;
  }
  .link-project{
    text-decoration: none;
    font-size: 10px;
    color: #ffffff;
    letter-spacing: 2.5px;
  }
  hr{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; /* Adjust spacing between hr and text */
    border: none; /* Remove default border */
    border-top: 1px solid #ffffff; /* Add top border */
    width: 30px; /* Ensure hr spans full width */
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #9d9d9d;
  }
  .image{
    padding-right: 0px;
  } 
  .image img {
    height: 96px;
    width: 96px;
    border-radius: 50%;
  }  
  .footer {
    margin: 2px;
    padding: 1px;
    height: 120px;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    padding-right: 100px;
    align-items: flex-end;
    width: 650px;
    justify-content: space-between;
  }
  .linkedin{
    width: 200px;
  }
  .linkedin img{
    height:32px;
    width: 32px;
    padding-top: 40px;
  }
  .git img{
    height: 32px;
    width: 32px;
  }
  .social{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-style: normal;
    vertical-align: middle;
  }
  .link{
    text-decoration: none;
    display: inline-block;
  }
/* RIGHT-BLOCK*/
  
  .block {
    height: fit-content;
    padding: 40px;
    display: block;
    background-color: #202022;
    border: 4px;
    justify-content: center;
    margin-bottom: 8px;
    width: 600px;
  }
  .block h2 {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 3.5px;
  }
  .h33 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #ffffff;
    margin-top: 8px;
  }
  .block-link{
    text-decoration: none;
  }
  .block:hover {
    background: #3e3e3e;
    transform: translateY(-8px);
    transition: all .5s ease 0s;
  }
ul {
    list-style-type: none;
    font-size: 45px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #9d9d9d;
    margin: 0;
  }
  
ul li {
    border: 0px;
    margin-top: -1px; /* Prevent double borders */
    padding: 0px; /* Add some padding */    
  }
  

 
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #9d9d9d;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 1.9px;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  