body {
    background-color: #151515;
    box-sizing: border-box;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media(max-width:900px){
    .main-container{
      flex-wrap: wrap;
    }
  }
  
/* LEFT-BLOCK */
.left-block{
    text-align: left;
    position: fixed;
    width: 50%;
    padding: 32px 0px 10px 100px;
}
.right-block {
    scrollbar-width: none; /* For Firefox */
    width: 50%;
    right: 0;
    position: absolute;
    padding: 88px 0px 70px;
  }
  .name{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 1.9px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 16px;
  }
  .about {
    justify-content: left;
    padding-right: 150px;
  
    margin: 32px 0px 0px;
    line-height: 30px;
  }
  .link-project{
  list-style-type: none;
  font-size: 45px;
  padding: 0px 0px 0px 0px;
  font-weight: 500;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #9d9d9d;
  margin: 0;
}
.navigation:hover .link-project{
  opacity:.6;
}
.navigation:hover .link-project:hover{
  opacity: 1;
}
  .link-project a{
    text-decoration: none;
    font-size: 10px;
    font-weight: 550;
    color: #ffffff;
    letter-spacing: 2.5px;
  }
  .link-project:hover {
    transform: scale(1.09);
    transition: all .2s ease-in-out;
  }
  .navigation
  hr{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; /* Adjust spacing between hr and text */
    border: none; /* Remove default border */
    border-top: 1px solid #ffffff; /* Add top border */
    width: 30px; /* Ensure hr spans full width */
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #9d9d9d;
  }
  .image{
    padding-right: 0px;
  } 
  .image img {
    height: 96px;
    width: 96px;
    border-radius: 50%;
  }  
  .footer {
    margin: 2px;
    padding-bottom: 10px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 500px;
    justify-content: space-between;
  }
  .linkedin img{
    height:32px;
    width: 32px;
  }
  .git img{
    height: 32px;
    width: 32px;
  }
  .social{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    padding-left: 10px;
  }
  .link{
    text-decoration: none;
    display: flex;
    align-items: center;
  }
/* RIGHT-BLOCK*/
  
  .block {
    height: fit-content;
    padding: 40px;
    display: block;
    background-color: #202022;
    border: 4px;
    justify-content: center;
    margin-bottom: 8px;
    width: 600px;

  }
  .block h2 {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 2.5px;
  }
  .h33 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #ffffff;
    margin-top: 8px;
  }
  .block-link{
    text-decoration: none;
  }
  .block:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.616)); 
  }
  .right-block:hover .block{
    opacity:.6;
  }
  .right-block:hover .block:hover{
    opacity: 1;
  }
ul li {
    border: 0px;
    margin-top: -1px; /* Prevent double borders */
    padding: 0px; /* Add some padding */    
  }
  

 
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #9d9d9d;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 1.9px;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  